$switch-disabled-opacity: .6 !default;
$switch-checked-bg-color: linear-gradient(-90deg, rgba(123, 137, 154, 1), rgba(161, 175, 188, 1)) !default;
$switch-default-bg-color: #DCDCDC !default;
$switch-width: 80px !default;
$switch-height: 40px !default;
$switch-border-radius: 20px !default;
$switch-inner-block-w-h: 34px !default;
